@model Spa_Resort_bali.Models.AddLodgeViewModels

@{
    ViewBag.Title = "Lodges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Spa_Resort_bali.Models.Lodges> lodges = ViewBag.Lodges;
}

<div class="container">
    <div class="card" style="margin-top: 160px; margin-bottom: 100px;">
        <div class="card-body">
            <h2 style="color:#007BFF">Lodges</h2>
            <div style="text-align: right">
                <a href="/Manager/AddLodges" class="btn btn-primary">Add Lodge</a>
            </div>

            <br />
            <table class="table table-striped table-bordered responsive nowrap" width="100%" id="bookingTable">
                <thead>
                    <tr>
                        <th>LodgeType</th>
                        <th>Zipcode</th>
                        <th>Street</th>
                        <th>HouseNumber</th>
                        <th>Code</th>
                        <th>Availability</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @{
                        foreach (var item in lodges)
                        {
                                        <tr>
                                            <td>@item.LodgeTypes.Name</td>
                                            <td>@item.Addresses.PostCode</td>
                                            <td>@item.Addresses.Streed</td>
                                            <td>@item.Addresses.HouseNumber</td>
                                            <td>@item.Code</td>
                                            <td>
                                                @{
                                                    if (item.Disabled || item.LodgeTypes.Disabled)
                                                    {
                                                        <text>False</text>
                                                    }
                                                    else
                                                    {
                                                        <text>True</text>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "editlodge", new { id = item.LodgeId })
                                            </td>
                                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>

    <script>
         $(document).ready(function () {
            $('#bookingTable').DataTable({
                dom: 'Bfrtlip',
                searching: true,
                paging: true,
                responsive: true,
                buttons: 
                    [{
                        extend: 'collection',
                        text: 'Export',
                        buttons: [
                            {
                                text: 'Print Table',
                                extend: 'print',
                                 exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,]
                                }
                            },
                            {
                                text: 'Copy Table',
                                extend: 'copy',
                                 exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,]
                                }
                            },
                            {
                                text: 'Download Excel',
                                extend: 'excel',
                                 exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,]
                                }
                            }
                            ,
                            {
                                text: 'Download PDF',
                                extend: 'pdf',
                                 exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,]
                                }
                            }
                        ]
                    },
                    {
                        text: 'Hide unavailable',
                        className: 'btn',
                        action: function (e, dt, node, config) {
                            if (dt.column(5).search() === '') {
                                this.text('Show all');
                                dt.column(5).search('True').draw(false);
                            } else {
                                this.text('Hide unavailable');
                                dt.column(5).search('').draw(true);
                            }
                        }
                    }],
               
                    

                searchCols: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    { search: '' },
                    null
                ]


            });
        });
    </script>
}