

@{
    ViewBag.Title = "UserOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    List<Spa_Resort_bali.Models.AspNetUsers> users = ViewBag.userlist;
}
    <div class="container" style=" margin-top: 160px; border: 1px solid gray;margin-bottom: 100px; overflow:auto; max-height: 220vh; padding:100px;">
        <h2>UserOverview</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table" >
            <thead>
                <tr>
                    <th class="col">
                        Email
                    </th>
                    <th class="col">
                        Phone number
                    </th>
                    <th class="col">
                        First name
                    </th>
                    <th class="col">
                        Last name
                    </th>
                    <th class="col">
                        Client Id
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>


            @foreach (var item in users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ClientNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) <br />
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>

    </div>
