@model IEnumerable<Spa_Resort_bali.Models.AspNetUsers>


<div class="container">
    <div class="card" style="margin-top: 160px; margin-bottom: 100px;">
        <div class="card-body">
            <h2 style="color:#007BFF">Users</h2> <br />
            @{
                if (@ViewBag.profileMessage != "")
                {
                    <div id="message" class="alert alert-@ViewBag.profileMessageColor">
                        @ViewBag.profileMessage
                    </div>
                }
            }
            <table class="table table-striped table-bordered responsive nowrap" width="100%" id="bookingTable">
                <thead>
                    <tr>
                        <th>
                            <b>Firstname</b>
                        </th>
                        <th>
                            <b>Lastname</b>
                        </th>
                        <th>
                            <b>Email</b>
                        </th>
                        <th>
                            <b>Email confirmed</b>
                        </th>
                        <th>
                            <b>Client number</b>
                        </th>
                        <th>
                            <b>Role </b>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Firstname
                            </td>
                            <td>
                                @item.Lastname
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @{
                                    if (item.EmailConfirmed)
                                    {
                                        <span>True</span>
                                    }
                                    else
                                    {
                                        <span>false</span>
                                    }
                                }
                            </td>
                            <td>
                                @item.ClientNumber
                            </td>
                            <td>
                                @item.AspNetRoles.First().Name
                            </td>
                            <td class="options">
                                @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                                @Html.ActionLink("Details", "DetailsUser", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#bookingTable').DataTable({
                dom: 'Bfrtlip',
                searching: true,
                paging: true,
                responsive: true,
                buttons: [{
                        extend: 'collection',
                        text: 'Export',
                        buttons: [
                            {
                                text: 'Print Table',
                                extend: 'print',
                                 exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5]
                                }
                            },
                            {
                                text: 'Copy Table',
                                extend: 'copy',
                                 exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5]
                                }
                            },
                            {
                                text: 'Download Excel',
                                extend: 'excel',
                                 exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5]
                                }
                            }
                            ,
                            {
                                text: 'Download PDF',
                                extend: 'pdf',
                                 exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5]
                                }
                            }
                        ]
                    }
                ]

            });
        });
    </script>
}